/.Macaulay2
/.anaconda
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.conda
/.config
/.copilot
/.dotnet
/.emacs.d
/.gp_history
/.ipynb_checkpoints
/.ipython
/.jupyter
/.landscape
/.local
/.motd_shown
/.profile
/.sage
/.ssh
/.sudo_as_admin_successful
/.vscode
/.vscode-remote-containers
/.vscode-server
/.wget-hsts
/M2Junk
/Miniconda3-latest-Linux-x86_64.sh
/School
/Untitled.ipynb
/miniconda3